                        <ul>
                        <% for (var i = 0, len = tree.length; i < len; ++i) { %>
                            <% if (tree[i].type == 'file') { %>
                            <li class="file-entry">
                                <label>
                                    <input type="checkbox" name="selfile" data-ext=<%= tree[i].ext %> value="/<%= tree[i].url %>" />
                                    <span class="icon-holder"></span>
                                </label>
                                <a href="/<%= tree[i].url %>" class="file" data-mime="<%= tree[i].mime %>" target="_blank">
                                    <%=tree[i].name%>
                                </a>
                            </li>
                            <% } else { %>
                            <li class="subdir folded">
                                <label>
                                    <input type="checkbox" name="selfolder" value="/<%= tree[i].url %>" />
                                    <span class="icon-holder"></span>
                                </label>
                                <a href="#<%= tree[i].url %>" onclick="toggleFold(this);" class="folder">
                                    <%=tree[i].name%>
                                </a>
                                <a href="/<%= tree[i].url %>" class="pjax-item">&#8594;</a>
                                <%- include('dir.ejs', {tree: tree[i].children}) %>
                            </li>
                            <% } %>
                        <% } %>
                        </ul>
