<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">   
        <title><%= title %></title>
        <link rel="stylesheet" href="/f5static/tree.css" type="text/css" charset="utf-8">
        <% if(ismain) { %>
        <script type="text/javascript">
            if (location.pathname == "/" && location.search != '?debug') {
                location.pathname = 'projects.html';
            }
        </script>
        <% } %>
    </head>
    <body>
        <div class="wrapper">
            <div id="mainTree" class="main-tree tree-container">
                <div class="tree-padding">
                    <div id="pwd" 
                        class="pwd" 
                        data-localip="<%= localip %>"
                        data-root="<%= rootpath %>" 
                        data-pwd="<%= pwd %>">
                        <%= pwd %>
                    </div>
                    <div id="filetypes" class="filetypes"></div>
                    <div id="fileTree" class="file-tree">
                        <%- include('./dir.ejs', {tree: tree}) %>
                    </div>
                </div>
            </div>
            <div id="pickTree" class="pick-tree tree-container">
                <div class="tree-padding">
                    <div>
                        <button class="btn-item pick-btn" id="pickBtn">pack</button>
                        <button class="btn-item clear-btn" id="clearBtn">clear</button>
                    </div>
                    <div id="pickFileTree" class="file-tree"></div>
                    <div id="msg"></div>
                </div>
            </form>
            <div class="clear" style="clear:both"></div>
        </div>
        <div class="footer">
            <div id="quit" class="quit-btn">Quit f5</div>
            <i class="version">version: <%= version %></i>
            <p><a target="_blank" href="https://github.com/island205/f5">Fork me at github</a></p>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/f5static/jquery-min.js"></script>
        <script type="text/javascript">
            var socket = io.connect(location.hostname);
            socket.on('reload', function (data) {
                window.location.reload();
            });
        </script>
        <script src="/f5static/tree.js"></script>
        <script src="/f5static/picker.js"></script>
    </body>
</html>
